version: 2.1

jobs:
  clippy:
    docker: [image: cimg/rust:1.70.0]
    steps:
      - checkout
      - run: cargo --version
      - restore_cache: { key: clippy-cache }
      - run: cargo clippy --workspace --all-targets --all-features
      - save_cache:
          key: clippy-cache
          paths:
            - '~/.cargo'
            - './target'

  test:
    docker: [image: cimg/rust:1.70.0]
    steps:
      - checkout
      - run: cargo --version
      - restore_cache: { key: test-cache }
      - run: >
          [ -f ${CARGO_HOME:-~/.cargo/bin}/cargo-nextest ] ||
          curl -LsSf https://get.nexte.st/latest/linux |
          tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
      - run: cargo nextest run --workspace --all-targets --all-features
      - save_cache:
          key: test-cache
          paths:
            - '~/.cargo'
            - './target'

  doc-test:
    docker: [image: cimg/rust:1.70.0]
    steps:
      - checkout
      - run: cargo --version
      - restore_cache: { key: doc-test-cache }
      - run: cargo doc --workspace --all-features --no-deps
      - run: cargo test --workspace --doc --all-features -- --test-threads=1
      - save_cache:
          key: doc-test-cache
          paths:
            - '~/.cargo'
            - './target'

  feature-checks:
    docker: [image: cimg/rust:1.70.0]
    steps:
      - checkout
      - run: cargo --version
      - restore_cache: { key: feature-checks-cache }
      - run: |
          # Get host target
          host=$(rustc -Vv | grep host | sed 's/host: //')
          # Download binary and install to $HOME/.cargo/bin
          curl -LsSf "https://github.com/taiki-e/cargo-hack/releases/latest/download/cargo-hack-$host.tar.gz" | tar xzf - -C $HOME/.cargo/bin
      - run: cargo hack --each-feature check
      - run: cargo hack --each-feature check --all-targets
      - save_cache:
          key: feature-checks-cache
          paths:
            - '~/.cargo'
            - './target'

workflows:
  all_checks:
    jobs:
      - clippy
      - test
      - doc-test
      - feature-checks
