[package]
name = "actix-web-lab"
version = "0.16.9"
description = "In-progress extractors and middleware for Actix Web"
authors = ["Rob Ede <robjtede@icloud.com>"]
keywords = ["actix", "http", "web", "framework", "async"]
categories = [
    "network-programming",
    "asynchronous",
    "web-programming::http-server",
    "web-programming::websocket",
]
repository = "https://github.com/robjtede/actix-web-lab.git"
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.59"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["derive"]
derive = ["actix-web-lab-derive"]

[dependencies]
actix-web-lab-derive = { version = "=0.16.0", optional = true }

actix-web = { version = "4", default-features = false }
actix-http = "3"
actix-service = "2"
actix-router = "0.5"
actix-utils = "3"
actix-files = "0.6"
bytestring = "1"
ahash = "0.7"
arc-swap = "1.1"
async-trait = "0.1"
csv = "1.1"
bytes = "1"
derive_more = "0.99.5"
digest = "0.10"
futures-core = "0.3.7"
futures-util = { version = "0.3.17", default-features = false, features = ["std"] }
generic-array = "0.14"
http = "0.2.7"
hmac = { version = "0.12", features = ["reset"] }
local-channel = "0.1"
mime = "0.3"
once_cell = "1.8"
pin-project-lite = "0.2.7"
regex = "1.5.5"
serde = "1"
serde_json = "1"
serde_html_form = "0.1"
subtle = "2.4"
tokio = { version = "1.13.1", features = ["sync", "macros"] }
tracing = { version = "0.1.30", features = ["log"] }

[dev-dependencies]
actix-web-lab-derive = "=0.16.0"

actix-web = { version = "4", features = ["rustls"] }
base64 = "0.13"
ed25519-dalek = "1.0.1"
env_logger = "0.9"
futures-util = { version = "0.3.7", default-features = false, features = ["std"] }
hex = "0.4"
hex-literal = "0.3"
http = "0.2.7"
rand = "0.8"
rustls = "0.20"
rustls-pemfile = "1.0.0"
serde = { version = "1", features = ["derive"] }
sha2 = "0.10"
static_assertions = "1.1"
time = { version = "0.3", features = ["formatting"] }
